<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ThinkDiff Skool</title>
<meta name="keywords" content="corner template, html css layout, one page, 5 sections, templatemo" />
<meta name="description" content="Corner Template is a mini site layout in one page, 5 sections" />
<link href="assets/templatemo_style.css" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag    "templatemo_style", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

	<span id="top"></span>
	<div id="templatemo_wrapper">
		<div id="templatmeo_header">
	        <div id="site_title">
	            <h1><a href="http://www.thinkdiffskool.com/"></a></h1>
	        </div>
	
	        <div id="templatemo_menu">
		
		
	            <ul>
	                <li><%= link_to "Home", "/pages/Home" %></li>
	                <li><%= link_to "AboutUs", "/pages/AboutUs"%></li>
	                <li><%= link_to "Programs", "/pages/Programs"%></li>

	                <li class="last"><%=link_to "ContactUs", "/contact"%></li>
	            </ul>    	
	        </div> <!-- end of templatemo_menu -->
		</div> <!-- end of header -->

<%=yield%>

    <div id="templatemo_footer">
    
        Copyright © 2013 <a href="#">ThinkDiff Skool</a> | Designed and Developed by Bhuvana KA 
        
        <div class="cleaner"></div>
    </div>
    
</div> <!-- end of warpper -->

</body>
</html>
